// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

//APP_ICON ICON "D:\\GrEngine\\GrayEngine\\other\\Content\\GrayMan.ico"
//APP_ICON ICON "C:\\GrayEngine\\other\\Content\\GrayMan.ico"